---
import FourHouses from "../components/FourHouses.astro";
import Layout from "../layouts/Layout.astro";
export const prerender = true;
---

<Layout title="Inter-House Singing Contest">
  <main>
    <div
      class={"mx-auto px-3.5 supports-[height:100cqh]:h-[100cqh] supports-[height:100svh]:h-[100svh] h-screen bg-zinc-100 dark:bg-[#21222C]"}
    >
      <div class="flex-column">
        <div class={"pt-10"}>
          <h1
            class={"text-center font-bold sm:text-4xl text-2xl dark:text-[#F8F8F2]"}
          >
            Inter-House Singing Contest
          </h1>
        </div>

        <div class={"p-2 lg:px-28 pt-5 mb-auto"}>
          <FourHouses />
          <div class={"mx-auto pt-3 max-w-2xl"}>
            <div class="text-center m-3">
              <div
                class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative"
                role="alert"
              >
                Voting Ended at 23:59 <br class="sm:hidden" />on 19th December.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="pb-2 text-center mt-[-120px]">
      <div class="px-7">
        <div class="h-[70px] sm:h-[50px]">
          <div
            class="bg-red-100 border text-[17px] border-red-400 alert-danger px-4 py-3 text-red-700 rounded relative invisible"
            role="alert"
          >
            Voting Ends at 23:59 on <br class="sm:hidden" />19th December.
          </div>
        </div>
      </div>
      <div class="pt-3">
        <span class="icon inline-block relative top-1"
          ><svg
            class="dark:fill-[#F8F8F2]"
            xmlns="http://www.w3.org/2000/svg"
            width="23"
            viewBox="0 0 640 512"
            ><path
              d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
            ></path></svg
          ></span
        >
        <span class="text-[17px] dark:text-[#F8F8F2]"
          >&nbsp;by Jong Yuk Wan</span
        >
      </div>
    </footer>
  </main>
</Layout>

<style></style>
